{# templates/security/login.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div
		class="max-w-md mx-auto mt-12 p-6 bg-darkGrey rounded-lg shadow-2xl border-2 border-neonBlue">

		{# Flash messages #}
		{% if error %}
			<div class="alert-warning border-l-4 border-sunsetOrange bg-sunsetOrange/20 text-sunsetOrange
															                    p-3 rounded mb-4 flex items-center animate-pulse">
				<i class="bi bi-exclamation-triangle-fill mr-2"></i>
				<span>{{ error.messageKey|trans(error.messageData, 'security') }}</span>
			</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3 text-white text-center">
				Connecté en tant que
				<strong>{{ app.user.userIdentifier }}</strong>,
				<a href="{{ path('app_logout') }}" class="text-neonBlue hover:underline">Logout</a>
			</div>
		{% endif %}

		<h1 class="text-3xl md:text-4xl font-extrabold text-neonBlue mb-6 text-center drop-shadow-lg">
			Connexion
		</h1>

		{# Bouton Discord en premier #}
		<div class="text-center mb-6">
			<a href="{{ path('hwi_oauth_service_redirect', { service: 'discord' }) }}" class="inline-flex items-center justify-center gap-2 px-4 py-2 text-white font-semibold rounded-lg shadow transition">
				<img src="{{ asset('images/discord.png') }}" alt="Discord" class="w-10 h-10">
				<span class="text-NeonBlue">Connexion avec Discord</span>
			</a>
		</div>


		{# Séparateur "ou" #}
		<div class="flex items-center justify-center gap-2 text-gray-400 text-sm mb-6">
			<span class="flex-grow border-t border-gray-500"></span>
			<span>ou</span>
			<span class="flex-grow border-t border-gray-500"></span>
		</div>

		{# Formulaire classique #}
		<form method="post" class="space-y-6">

			<div class="relative">
				<label for="inputEmail" class="block text-sm font-medium text-neonBlue mb-1">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input" autocomplete="email" required autofocus>
			</div>

			<div class="relative">
				<label for="inputPassword" class="block text-sm font-medium text-neonBlue mb-1">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="input" autocomplete="current-password" required>
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button type="submit" class="btn-primary w-full text-center text-base hover:scale-105 transform shadow-xl transition-all duration-300">
				Se connecter
			</button>
		</form>

		<p class="text-xs text-gray-400 mt-4 text-center">
			Pas encore de compte ?
			<a href="{{ path('app_register') }}" class="text-neonBlue hover:underline transition-colors">
				S'inscrire
			</a>
		</p>
	</div>
{% endblock %}
