<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
				{% for event in closedEvents %}
					<div class="bg-darkGrey border border-neonBlue rounded-xl overflow-hidden shadow-lg hover:shadow-neonBlue/50 transition-all duration-300 relative">

						{% if event.coverImage and event.coverImage.imageName %}
							<img src="{{ asset('uploads/events/' ~ event.coverImage.imageName) }}" alt="" class="rounded-t-xl w-full h-60 object-cover shadow-inner">
						{% else %}
							<img src="{{ asset('images/default.webp') }}" alt="" class="rounded-t-xl w-full h-60 object-cover shadow-inner">
						{% endif %}

						{% if event.organizer and event.organizer.id == app.user.id %}
							<div class="absolute bottom-44 right-2">
								<span class="badge-fun">Organisateur</span>
							</div>
						{% else %}
							<div class="absolute bottom-44 right-2">
								<span class="badge-fun2">Squatteur</span>
							</div>
						{% endif %}

						<div class="p-4 space-y-2">
							<h3 class="text-lg font-bold text-white">{{ event.name }}</h3>
							<p class="text-sm text-gray-300">
								Débute le
								<span class="text-neonBlue">{{ event.startDate|date('d/m/Y H:i') }}</span><br>
								Se termine le
								<span class="text-neonBlue">{{ event.endDate|date('d/m/Y H:i') }}</span>
							</p>
							<a href="{{ path('event_home', {id: event.id}) }}" class="btn-primary mt-2 w-full block text-center">
								Voir
							</a>
						</div>
					</div>
				{% endfor %}
			</div>