<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
	{% for gameSession in gameSessions %}
		<div
			class="card-glass overflow-hidden transition-all duration-300 relative">

			{# Image de couverture simplifiée #}
			<img
			src="{{ gameSession.coverImageUrl ?? asset('images/default.webp') }}" alt="{{ gameSession.title ?? 'Image du jeu' }}" class="rounded-t-xl w-full h-60 object-cover shadow-inner">

			{# Badges et actions #}
			{% if gameSession.organizer and gameSession.organizer.id == app.user.id %}			
				<div class="absolute bottom-44 right-2">
					<span class="badge-fun">Organisateur</span>
				</div>
			{% else %}
				<div class="absolute bottom-44 right-2">
					<span class="badge-fun2">Membre</span>
				</div>
			{% endif %}

			{# Contenu de la card #}
			<div class="p-4 space-y-3">
				<h3 class="text-lg font-bold text-white">{{ gameSession.title }}</h3>
				<p class="text-sm text-gray-300">
					Débute le
					<span class="text-neonBlue">{{ gameSession.startDate|date('d/m/Y H:i') }}</span><br>
					Durée estimée
					<span class="text-neonBlue">{{ gameSession.estimatedDuration }}
						min</span><br>
					Organisé par:
					<span class="text-neonBlue">{{ gameSession.organizer.profile.nickname }}</span>
				</p>

				<a href="{{ path('game_session_show', { id: gameSession.id }) }}" class="btn-primary mt-2 w-full block text-center">
					Voir
				</a>
			</div>
		</div>
	{% endfor %}
</div>
