<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
	{% for event in openedEvents %}
		<div
			class="card-glass overflow-hidden transition-all duration-300 relative">

			{# Image de couverture #}
			{% if event.coverImage and event.coverImage.imageName %}
				<img src="{{ asset('uploads/events/' ~ event.coverImage.imageName) }}" alt="" class="rounded-t-xl w-full h-60 object-cover shadow-inner">
			{% else %}
				<img src="{{ asset('images/default.webp') }}" alt="" class="rounded-t-xl w-full h-60 object-cover shadow-inner">
			{% endif %}

			{# Boutons d’action visibles uniquement pour l’organisateur #}
			{% if event.organizer and event.organizer.id == app.user.id %}
				<div class="absolute top-2 right-2 flex space-x-2">
					<a href="{{ path('event_edit', { event: event.id }) }}" class="btn-edit">
						<i class="bi bi-pencil" aria-hidden="true"></i>
						<span class="sr-only">Modifier l'événement
							{{ event.name }}</span>
					</a>
					{% if not event.isClosed %}
						<button type="button" data-modal-target="close-event-{{ event.id }}" data-modal-toggle="close-event-{{ event.id }}" class="btn-edit">
							<i class="bi bi-lock-fill"></i>
						</button>
					{% endif %}
					<button type="button" data-modal-target="delete-event-{{ event.id }}" data-modal-toggle="delete-event-{{ event.id }}" class="btn-delete">
						<i class="bi bi-trash"></i>
					</button>
				</div>

				<div class="absolute bottom-44 right-2">
					<span class="badge-fun">Organisateur</span>
				</div>
			{% else %}
				<div class="absolute bottom-44 right-2">
					<span class="badge-fun2">Membre</span>
				</div>
			{% endif %}

			<div class="p-4 space-y-3">
				<h3 class="text-lg font-bold text-white">{{ event.name }}</h3>
				<p class="text-sm text-gray-300">
					Débute le
					<span class="text-neonBlue">{{ event.startDate|date('d/m/Y H:i') }}</span><br>
					Se termine le
					<span class="text-neonBlue">{{ event.endDate|date('d/m/Y H:i') }}</span><br>

					Organisé par:
					<span class="text-neonBlue">
						{{ event.organizer.profile.nickname }}
					</span>
				</p>

				<a href="{{ path('event_home', { id: event.id }) }}" class="btn-primary mt-2 w-full block text-center">
					Voir
				</a>
			</div>
		</div>
	{% endfor %}
</div>
