{% extends 'base.html.twig' %}

{% block body %}
	<div class="sticky top-0 z-50 flex justify-center gap-4 p-4 mb-12">
		<a href="{{ path('event_countdown', { id: event.id }) }}" class="btn-secondary px-4 py-2">Décompte</a>
		<a href="{{ path('event_infos', { id: event.id }) }}" class="btn-secondary px-4 py-2">Infos générales</a>
		<a href="{{ path('event_participants', { id: event.id }) }}" class="btn-secondary px-4 py-2">Participants</a>
		<a href="{{ path('event_needs', { id: event.id }) }}" class="btn-secondary px-4 py-2">Besoins</a>
		<a href="{{ path('event_games', { id: event.id }) }}" class="btn-secondary px-4 py-2">Akoikonjoue</a>
	</div>
	{% block section_content %}{% endblock %}
{% endblock %}
