{% extends 'user/partials/_account_layout.html.twig' %}

{% block title %}Modifier mes identifiants{% endblock %}

{% block account_layout %}
<div class="max-w-md mx-auto mt-12 p-6 bg-darkGrey rounded-xl shadow-2xl border-2 border-neonBlue">

    <h1 class="text-3xl font-extrabold text-neonBlue mb-6 text-center drop-shadow-lg">
        Modifier mes identifiants
    </h1>

    {{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

    {# Email #}
    <div class="relative">
        {{ form_row(form.email, {
            'attr': {'class': 'input '},
            'label_attr': {'class': 'block text-sm font-medium text-neonBlue mb-1'}
        }) }}
    </div>

    {# Mot de passe #}
    <div class="relative">
        {{ form_row(form.password.first, {
            'attr': {'class': 'input '},
            'label_attr': {'class': 'block text-sm font-medium text-neonBlue mb-1'}
        }) }}

        {{ form_row(form.password.second, {
            'attr': {'class': 'input '},
            'label_attr': {'class': 'block text-sm font-medium text-neonBlue mb-1'}
        }) }}
    </div>

    <button type="submit" class="btn-primary w-full">Sauvegarder</button>
    {{ form_end(form) }}

    {# Bouton supprimer le compte #}
    <form action="{{ path('user_delete_account') }}" method="post" class="btn-delete-lg">
        <input type="hidden" name="_token" value="{{ csrf_token('delete-account') }}">
        <button type="submit" class="btn-red w-full" onclick="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.')">
            Supprimer mon compte
        </button>
    </form>

</div>
{% endblock %}
